<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  <link rel="stylesheet" href="/client/user/style.css">
  <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/b8da387c6d.js"
      crossorigin="anonymous"
    ></script>
  
  </head>
  <body>
    <div class="login">
    <form action="/users/login" method="POST">
      <label for="name">Email</label>
      <input type="email" name="name" required placeholder="email"/>
      <label for="password">password</label>
      <input type="password" name="password" required placeholder="password"/>
      <input type="submit" value="Submit"  />
    </form>
<% if(message){ %>
  <label for=""><%= message %></label>
  <% } %>
  <div class="sign-up"><a href="/users/signup" >sign up</a> if you dont have user</div>
  </div>
  </body>
</html>
