<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>protected_page</title>
    <link rel="stylesheet" href="/client/user/style2.css" />
  </head>
  <body>
    <div class="signup">
      Hey <%= name %>, How are you doing today? <br /><br />
      want to log out?<br /><br />
      <a href="/logout" style="color: white">logout</a>
    </div>
  </body>
</html>
